* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.logo {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 4px;
}

.home-button {
    padding: 6px 12px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.Normal-login {
    padding: 6px 12px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.vendor-login {
    padding: 6px 12px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.Order-history {
    padding: 6px 12px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.Cart {
    padding: 6px 12px;
    border: none;
    background: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}


.nav-icons span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #8f8e8e;
    border-radius: 4px;
    margin-left: 15px;

}

/* Hero Section */
.hero {
    background: red;
    padding: 30px 20px 80px;
    height: 300px;
    position: relative;
}/*Image */

.hero h1 {
    font-size: 24px;
}

.flavour-text {
    margin-top: 8px;
    color: #444;
}

/* Dropdown Card */
.dropdown-card-area {
    display:flex;
    flex-direction : column;
    justify-content: center;
    background: #d1d1d1;
    width: 220px;
    padding: 15px;
    height: 260px;

    position: absolute;
    top: 150px;
    left: 100px;
}


.dropdown-card label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.dropdown-card select {
    width: 100%;
    padding: 6px;
}

/* Main Content */
.content {
    height: 300px;
    background: #ffffff;
}

/* About Section */
.about {
    background: #bdbdbd;
    padding: 40px;
    text-align: center;
}

.about h2 {
    font-weight: normal;
}

/* Footer */
.footer {
    background: #6f6f6f;
    color: white;
    text-align: center;
    padding: 20px;
}