.brand {
    display:flex;
    height:auto;
    max-width:100%;
    text-align: right;
    font-size: 9rem;
    font-weight: lighter;
    position:relative;
    top: 300px;
    left: 300px;
}
.logIn {
    display:flex;
    height:auto;
    max-width:100%;
    border-radius: 20px;
    position:relative;
    top:300px;
    right:300px;
    justify-content: right;
}