body {
    height:100%;
    margin:0;
    color:white;
}
input {
    text-align: center;
    font-size: 24px;
}
input::placeholder {
    color: #000000;
    font-size: 24px;
    font-style: italic;
    font-weight: 300px;
}
input:focus::placeholder {
    color: transparent;
}
button:hover {
}
.LogIn-background {
    display:flex;
    flex-direction: column;
    background-image: url(Images/background-logIn.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height:100vh;
    width:100vw;
    text-shadow: 3px 3px 3px black;
}
.content {
    display:flex;
    flex-direction: row;
    height: calc(100vh - 70px);
    width: 100%;
}
.brand-area {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: right;
    padding-right: 100px;
}
.brand {
    font-weight: lighter;
    text-align: right;
    font-size: 10rem !important;
}
.logIn-area {
    display: flex;
    flex: 1;                  
    align-items: center;
    justify-content: center;
    margin-right:auto;
}
.LogIn {
    display: flex;
    padding:10px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #B9B7B7;
    width: 380px;
    height: 630px;
    text-shadow: 0 0 0;
}
.text-login-space {
    display:flex;
    align-items:left;
}
.text-login {
    width:183px;
    height:98px;
    font-size:40px;
    text-align:left;
    color: #000000;
    font-weight:bold;
    margin-left:10px;
}
.Input-area {
    display:flex;
    flex-direction: column;
    gap:20px;
    width:360px;
    height:150px;
}
.button-area {
    display:flex;
    width:360px;
    height:65px;
}
.UserId-Input {
    width:360px;
    height:65px;
    border-radius: 50px;
    background-color: #D9D9D9;
    border: transparent;
}
.Password-Input {
    width:360px;
    height:65px;
    border-radius: 50px;
    background-color: #D9D9D9;
    border: transparent;
}
.Next-Forgot-space {
    display: flex;
    width:360px;
    height:50px;
}
.Space-between-nextandforgot {
    display:flex;
    height: 50px;
    width: 85px;
}
.Next-Button-Space {
    height:50px;
    width:130px;
}
.Next-button {
    display:flex;
    justify-content: center;
    align-items: center;
    height:40px;
    width:130px;
    border-radius: 50px;
    background-color: black;
    border:transparent;
}
.Next-button:hover {
    border: solid 2px;
    border-color: #737373;
}
.Next-button-text {
    width:55px;
    height:29px;
    color:white;
    font-weight:bold;
    font-size: 24px;
}
.Forgot-Space {
    display:flex;
    gap:10px;
    height:50px;
    width:145px;
    flex-direction: column;
}
.Forgot-User-space {
    height:20px;
    width:145px;
}
.Forgot-User-button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width:145px;
    border-radius: 50px;
    border:transparent;
}
.Forgot-User-text-space {
    display: flex;
    justify-content: center;
    align-items: center;
    width:88px;
    height:15px;
}
.Forgot-User-text {
    font-size:12px;
    font-weight:bold;
    color:#000000;
}
.Forgot-Pass-space {
    height:20px;
    width:145px;
}
.Forgot-Pass-button {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width:145px;
    border-radius: 50px;
    border:transparent;
}
.Forgot-Pass-text {
    font-size:12px;
    font-weight:bold;
    color:#000000;
}
.Notregistered-area {
    align-self:center;
    display:flex;
    flex-direction: column;
    width:310px;
    height:192px;
    gap:17px;
}
.Notregistered-Text-space {
    display:flex;
    justify-content: center;
    align-items: center;
    width:309px;
    height:49px;
}
.Notregistered-text {
    font-weight: bold;
    font-size:40px;
    color:#000000;
}
.Notregistered-Button-area{
    display:flex;
    flex-direction: column;
    width:308px;
    height:130px;
    gap:6px;
}
.Guest-Continue-area {
    height:40px;
    width:308px;
}
.Guest-Continue-button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    height:40px;
    width:308px;
    border-radius: 50px;
    border: transparent;
    background-color:#D9D9D9;
}
.Guest-Continue-text {
    height:30px;
    width:213px;
    font-weight: bold;
    font-size: 24px;
    color:#000000;
}
.Or-Text-space {
    display:flex;
    justify-content: center;
    align-items: center;
    width:308px;
    height:39px;
}
.Or-text {
    width:39px;
    height:39px;
    font-size:32px;
    font-weight: bold;
    color: #000000;
}
.Account-Create-space {
    height:40px;
    width:308px;
}
.Account-Create-button {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    height:40px;
    width:308px;
    border-radius: 50px;
    border: transparent;
    background-color:#D9D9D9;
}
.Account-Create-text {
    height:30px;
    width:213px;
    font-weight: bold;
    font-size: 24px;
    color:#000000;
}